# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
venv/
.env

# ----------------------------
# React / Node
# ----------------------------
node_modules/
dist/

# ----------------------------
# Database
# ----------------------------
*.db

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# OS
# ----------------------------
Thumbs.db
.DS_Store

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# AI
# ----------------------------
*.h5
*.keras
